@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-crimson: var(--font-crimson);
  --font-heading: var(--font-myfont);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --cta-button: var(--cta-button);
  --navText: var(--navText);
  --headingText: var(--headingText);
  --btnBG: var(--btnBG);
  --font-body: "Jost", sans-serif;
}

:root {

  --color-blush: #F0CCAB;
  --color-butter: #D1A342;
  --color-bronze: #57401C;
  --color-pistachio: #BAB58C;
  --color-fawn: #E0D6C7;
  --color-champagne: #FAEDDB;
  --color-sunburst: #D69A66;
  --color-grey-soft: #B7BEBC;


  --primary: var(--color-bronze);
  --primary-foreground: #ffffff;

  --secondary: var(--color-champagne);
  --secondary-foreground: var(--color-bronze);

  --accent: var(--color-blush);
  --accent-foreground: var(--color-bronze);

  --muted: var(--color-fawn);
  --muted-foreground: var(--color-bronze);


  --btnBG: var(--color-butter);
  --headingText: var(--color-bronze);
  --navText: var(--color-bronze);
}

.dark {
  --primary: #FAEDDB;
  --primary-foreground: #57401C;

  --secondary: #BAB58C;
  --secondary-foreground: #57401C;

  --accent: #D69A66;
  --accent-foreground: #ffffff;

  --muted: #57401C;
  --muted-foreground: #FAEDDB;

  --background: #1a1a1a;
  --foreground: #FAEDDB;
}

body,
html {
  font-family: var(--font-body);
  overflow-x: hidden;
  /* background-color: var(--color-pistachio); */
  /* background-color: var(--color-pistachio); */
  /* background-color: var(--color-champagne); */

}

main {
  background-color: var(--color-fawn);
  /* background-color: var(--color-pistachio); */
  /* background-color: var(--color-champagne); */
}

/* BACKGROUND COLOR */

.bg-blush {
  background-color: var(--color-blush);
}

.bg-butter {
  background-color: var(--color-butter);
}

.bg-bronze {
  background-color: var(--color-bronze);
}

.bg-pistachio {
  background-color: var(--color-pistachio);
}

.bg-fawn {
  background-color: var(--color-fawn);
}

.bg-champagne {
  background-color: var(--color-champagne);
}

.bg-sunburst {
  background-color: var(--color-sunburst);
}

.bg-grey-soft {
  background-color: var(--color-grey-soft);
}

/* ####### BACKGROUND COLORS END HERE */

/* TEXT COLORS */
.text-blush {
  color: var(--color-blush);
}

.text-butter {
  color: var(--color-butter);
}

.text-bronze {
  color: var(--color-bronze);
}

.text-pistachio {
  color: var(--color-pistachio);
}

.text-fawn {
  color: var(--color-fawn);
}

.text-champagne {
  color: var(--color-champagne);
}

.text-sunburst {
  color: var(--color-sunburst);
}

.text-grey-soft {
  color: var(--color-grey-soft);
}

/* ######## TEXT COLORS END HERE */

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img,
video {
  display: block;
  max-width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/* Existing class */
.heading-font {
  font-family: var(--font-myfont);
}

/* Add Tailwind utility classes */
@layer utilities {
  .font-heading {
    font-family: var(--font-myfont);
  }

  .font-crimson {
    font-family: var(--font-crimson);
  }

  .font-body {
    font-family: var(--font-body);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}



/* SVG PATH */
.svg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  /* important */
  z-index: 10;
}

.svg {
  position: absolute;
  rotate: 90deg;
  transform: translateY(-50%) rotate(90deg);
}

.svg.svg-left {
  top: 35%;
  left: 0%;
  width: 100vh;
  height: 180vw;
}

.svg.svg-right {
  top: 33%;
  left: 0%;
  width: 100vh;
  height: 180vw;
}


.content {
  position: relative;
  z-index: 2;
  padding: 100px;
}

/* 
.reach-out-section input + label{
  font-weight: 300;
} */

input:checked+label {
  background-color: var(--btnBG);
  border-color: var(--btnBG);
}

.gradient-generator::after {
  position: absolute;
  content: "";
  inset: 0;
  /* shorthand for top/left/width/height */
  z-index: 11;
  background: linear-gradient(to top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8) 25%,
      rgba(255, 255, 255, 0.4) 55%,
      rgba(255, 255, 255, 0) 100%);
}


.link-flash {
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 1.8px;
    background: var(--headingText);
    transition: 1.1s var(--ease-out-expo);
  }


  &::before {
    transform: scaleX(0);
    transform-origin: left;
  }

  &::after {
    transform-origin: right;
    transition-delay: 0.25s;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transition-delay: 0.25s;
    }

    &::after {
      transform: scaleX(0);
      transition-delay: 0s;
    }
  }
}

.dark-glassmorhism {
  background: rgba(0, 0, 0, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border-radius: 7.2px;
}



/* CIRCLE */

.right-t.circle {
  width: calc(550px);
  height: calc(550px);
  position: absolute;
  top: 0%;
  left: -15%;
  border-radius: 50%;
  /* background-color: var(--color-blush); */
  border: var(--color-grey-soft) 1px solid;
  overflow: hidden;
  z-index: 0;
  opacity: 0.6;
}

.right-b.circle {
  width: calc(550px);
  height: calc(550px);
  position: absolute;
  top: 30%;
  left: -25%;
  border-radius: 50%;
  /* background-color: var(--color-blush); */
  border: var(--color-grey-soft) 1px solid;
  overflow: hidden;
  z-index: 0;
  opacity: 0.6;
}

.left-t.circle {
  width: calc(550px);
  height: calc(550px);
  position: absolute;
  top: 0%;
  right: -15%;
  border-radius: 50%;
  /* background-color: var(--color-blush); */
  border: var(--color-grey-soft) 1px solid;
  overflow: hidden;
  z-index: 0;
  opacity: 0.6;
}

.left-b.circle {
  width: calc(550px);
  height: calc(550px);
  position: absolute;
  top: 30%;
  right: -20%;
  border-radius: 50%;
  /* background-color: var(--color-blush); */
  border: var(--color-grey-soft) 1px solid;
  overflow: hidden;
  z-index: 0;
  opacity: 0.6;
}


/* WHAT WE WORK WITH */


#card-1 .card-inner {
  background-color: #57401C;
}

#card-2 .card-inner {
  background-color: #D69A66;
}

#card-3 .card-inner {
  background-color: #D1A342;
}

#card-4 .card-inner {
  background-color: #F0CCAB;
}